<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flop.minesweeper">

    <!--网络请求-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--查看网络连接-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--设备震动-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--请求安装文件包-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--以下权限还需要通过代码动态申请-->
    <!--读写内存-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--.ErrorLogInfo.InitApplication为全局异常捕获-->
    <!--Android9.0 默认是禁止所有的http,usesCleartextTraffic属性为true才可以正常进行网络请求-->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ErrorLogInfo.InitApplication"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 每个activity都要加上configChanges -->
        <!-- 按电源键之后的生命周期是onDestroy再onCreate???(黑人问号脸) -->
        <!-- 可能导致莫名其妙的BUG，如：定时器偷吃炫迈 -->

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <!-- 录像播放 -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.FullScreen">

        </activity>

        <!-- 设置 -->
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="设置"
            android:theme="@style/AppTheme.FullScreen">

        </activity>

        <!-- 新游戏 -->
        <activity
            android:name=".NewGameActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="新游戏"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">

        </activity>

        <!-- 主界面 -->
        <!--需要用Toolbar，主题必须为NoActionBar-->
        <!--windowSoftInputMode属性选择adjustNothing，手动调整输入框显示高度-->
        <activity
            android:name=".VideosActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="user"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--适配Android7.0打开安装包-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>